# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# cache
cache/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.idea
.env

# dist directory
.dist
.vuepress/dist/
